@tailwind base;
@tailwind components;
@tailwind utilities;


.feature-table{
    width: 100%;
}

.w1 {
    width: 1px;
  }


  .top_container{
    width: 80%;
  }
  .overview_top_container{
    display: flex;
    justify-content: center;
    border: 3px solid black;
    margin: 5px;
    padding: 10px;
  }

  .overview_img_container{
    width: 20rem;
    padding: 1rem;
  }
  .overview_left_img{
    width: 100%;
  }
  .Overview_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overview_middle_container{
    padding: 10px;
  }

  .feature_heading{
    font-weight: 700;
    font-size: 2rem;
    margin: 20px;
  }
  .feature_p{
    margin: 10px;
    
  }

  .pros{
    width: 100%;
    display : flex;
    justify-content: center;
  }

 .pros_h1{
  width: 100%;
  background-color: rgb(175, 255, 56);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
 }
 .cons_h1{
  width: 100%;
  background-color: rgb(255, 14, 14);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
 }
 
.pros_values , .cons_values{
  margin: 50px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  gap: 20px;
  padding: 10px;
}
.pros_values{
  border: 2px solid green;
}
.cons_values{
  border: 2px solid red;
}

.pros_container , .cons_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pros_svg_icon , .cons_svg_icon {
  color: green;
  margin: 0px 3px;
}
.pros_svg_icon{
  color: green;
  font-size: 2rem;
  font-weight: 900;
}
.cons_svg_icon{
  color: red;
  font-size: 1.5rem;
}

.overview_icons{
 font-size: 4rem;
 margin: 5px 5px 0px 5px;
}


.overview_name{
  font-weight: 100;
  font-size: 14px;
}
.overview_description{
  font-weight: 900;
  font-size: 16px;
}



.overview_line{
  width: 1px;
  height: 40px;
  margin: 0px 20px;
  background-color: black;
}

.Overview_top_heading{
  width: fit-content;
  font-size: 2rem;
  font-weight: 900;
  padding: 0px 10px;
  background-color: black;
  color: white;
  text-align: center;
  margin: 5px 0px;
}

/* more  */
.overview_main_conatiner{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  padding: 15px;
}

.Overview_line_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.overview_bottom_line{
  width: 100%;
  height: 1px;
  background-color: rgb(200, 194, 194);
  margin: 10px 0px;
}

@media Screen and (max-width : 750px) {
    .feature-table{
        min-width: 95vw;
        max-width : fit-content;
    }
    .top_container{
        width: 100%;
      }
     
      .overview_img_container{
        width: 10rem;
        padding: 0.5rem;
      }
      .Overview_container{
        width: 60%;
      }
      .overview_middle_container{
        padding: 0px;
      }
      .pros{
        flex-direction: column;
        width: 90%;
        gap: 0px;
      }
      .pros_values , .cons_values{
        padding: 5px;
        margin: 10px;
      }
      .overview_icons{
        font-size: 2rem;
        margin: 5px 5px 0px 5px;
       }
       .overview_line{
        margin: 0px 10px;
      }
      .Overview_top_heading{
        font-size: 1.5rem;
      }
      .overview_main_conatiner{
        gap: 5px;
        padding: 5px;
      }
}
