@tailwind base;
@tailwind components;
@tailwind utilities;


.feature-table{
    width: 100%;
}

.w1 {
    width: 1px;
  }


  .top_container{
    width: 100%;
  }
  .overview_top_container{
    display: flex;
    justify-content: center;
    border-bottom: 2px dotted rgb(202, 199, 199);
  }

  .overview_img_container{
    width: 20rem;
    padding: 1rem;
  }
  .overview_left_img{
    width: 100%;
  }
  .Overview_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overview_middle_container{
    padding: 10px;
  }

  .feature_heading{
    font-weight: 700;
    font-size: 2rem;
    margin: 20px;
  }
  .feature_p{
    margin: 10px;
    
  }

  .pros{
    width: 100%;
    display : flex;
    justify-content: center;
  }

 .pros_h1{
  width: 100%;
  background-color: rgb(175, 255, 56);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
 }
 .cons_h1{
  width: 100%;
  background-color: rgb(255, 14, 14);
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 10px;
 }
 
.pros_values , .cons_values{
  margin: 50px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  gap: 20px;
  padding: 10px;
}
.pros_values{
  border: 2px solid green;
}
.cons_values{
  border: 2px solid red;
}

.pros_container , .cons_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pros_svg_icon , .cons_svg_icon {
  color: green;
  margin: 0px 3px;
}
.pros_svg_icon{
  color: green;
  font-size: 2rem;
  font-weight: 900;
}
.cons_svg_icon{
  color: red;
  font-size: 1.5rem;
}

.overview_icons{
 font-size: 2rem;
 margin: 5px 5px 0px 5px;
}


.overview_name{
  font-weight: 100;
  font-size: 14px;
}
.overview_description{
  font-weight: 900;
  font-size: 16px;
}

.overview_line{
  width: 1px;
  height: 40px;
  margin: 0px 20px;
  background-color: black;
}

.Overview_top_heading{
  /* width: fit-content; */
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0px 20px;
  background-color: green;
  color: white;
  text-align: center;
}


.overview_main_conatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background-color: white;
  padding: 2px;
  margin: 10px 0px;
}

.Overview_line_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.overview_bottom_line{
  width: 100%;
  height: 1px;
  background-color: rgb(200, 194, 194);
  margin: 10px 0px;
}


.pros_real_data{
  display: flex;
  list-style: none;
}


.buy{
  width: 100%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.buyContainer{
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px 30px;
  border: 2px solid rgb(48, 48, 48)ck;
  box-shadow: 0px 0px 10px rgb(184, 182, 182);
}
.buyImg{
  width: 100px;
  margin: 0px 10px;
}
.buyDes{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
}
.buyp{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
}
.buyDesImg{
  width: 80px;
  margin: 15px 0px;
}

.buyBtn{
  border: 2px solid coral;
  border-radius: 5px;
}

.buyBtn a{
  display: block;
  text-decoration: none;
  color: coral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 3px 10px;

}
button a:hover{
  background-color: coral;
  color: white;
}

.topMobiles {
  width: 100%;
}

.topMobilesHeading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.topMobilesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.mobilesMains{
  display: flex;
  gap: 20px;
}

.mobileCard {
  flex: 1 0 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border: 2px solid rgb(48, 48, 48)ck;
  box-shadow: 0px 0px 10px rgb(184, 182, 182);
}

.mobileImage img {
  width: 200px;
  border-radius: 8px;
}

.keyPoints {
  margin-top: 10px;
}

.keyPoints h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.keyPoints ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.keyPoints li {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.mobile_points{
  font-family:'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.1rem;
}
.mobiles_svg{
  color: blue;
}


/* more  */
.buy_inner_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap : 10px;
  margin: 5px 0px;
}

@media screen and (max-width: 1000px){
  .overview_img_container {
      width: 10rem;
      padding: 0.5rem;
  }
  .overview_img_container {
      width: 20rem;
      padding: 0.2rem;
    }
  }


@media Screen and (max-width : 750px) {
    .feature-table{
        min-width: 95vw;
        max-width : fit-content;
    }
    .top_container{
        width: 100%;
      }
     
      .overview_img_container{
        width: 8rem;
        padding: 0rem;
      }
      .Overview_container{
        width: 60%;
      }
      .overview_middle_container{
        padding: 0px;
      }
      .pros{
        flex-direction: column;
        width: 90%;
        gap: 0px;
      }
      .pros_values , .cons_values{
        padding: 5px;
        margin: 10px;
      }
      .overview_icons{
        font-size: 1.5rem;
        margin: 5px 5px 0px 5px;
       }
       .overview_line{
        margin: 0px 10px;
      }
      .Overview_top_heading{
        font-size: 1.5rem;
      }
      .overview_main_conatiner{
        gap: 5px;
        padding: 5px;
      }
      .overview_name{
        font-size: 12px;
      }
      .overview_description{
        font-size: 13px;
      }
      .overview_bottom_line{
        margin: 3px 0px;
      }
      .buyContainer{
        width: 100%;
        justify-content: start;
        margin: 5px;
        padding: 5px;
      }
      .buyDes{
        margin: 0px;
      }
      .mobileCard {
        flex: 1 0 350px;
        padding: 10px;
      }
      .mobileImage img {
        width: 150px;
        border-radius: 8px;
      }
      .mobilesMains{
        gap: 10px;
      }
      /* more  */
      .buyImg{
        width:60px;
        margin: 0px 5px;
      }
      .buyDesImg {
        width: 60px;
        margin: 5px 0px;
       }

}



